{% extends 'doit/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row text-black">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
            <div class="px-2">
                <form method="post" novalidate class="justify-content-center">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}

                          {% if form.is_bound %}
                            {% if field.errors %}

                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}

                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}

                          {% if field.help_text %}
                            <small class="form-text text-muted">
                              {{ field.help_text }}
                            </small>
                          {% endif %}
                        </div>
                      {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg">LogIn</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}