{% extends 'doit/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="col-2">
<img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}" class="w-100">
<small>User: {{ user.username }}</small>
</div>

<form action="{% url 'accounts:profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
    <input type="submit" value="Submit" />
</form>

{% endblock content %}