{% extends 'doit/base.html' %}
{% load doit_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    {% for list in lists %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ list }}</h5>
        {% time_diff list.pub_date as days_ago %}
      <small>
          {% if 0 == days_ago %} today
          {% else %}
            {{ days_ago }} {% if 1 == days_ago %} day {% else %} days {% endif %} ago
          {% endif %}
      </small>
    </div>
    <p class="mb-1">Task text</p>
    <small>Donec id elit non mi porta.</small>
  </a>
    {% endfor %}
</div>
{% else %}
<div class="container center">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">Login</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts:signup' %}">Signup</a></li>
{% endif %}
    </ol>
</div>

{% endblock content %}