{% extends 'doit/base.html' %}
{% load doit_tags %}

{% block content %}

{% if user.is_authenticated %}<!-- test if user is auth !-->
<div class="container">
{% if lists %} <!-- test if lists is not empty !-->
    {% for list in lists %} <!-- loop lists !-->
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ list }}</h5>
        {% time_diff list.pub_date as days_ago %}
      <small>
          {% if 0 == days_ago %} today
          {% else %}
            {{ days_ago }} {% if 1 == days_ago %} day {% else %} days {% endif %} ago
          {% endif %}
      </small>
    </div>
      {% for task in list.to_list.all %} <!-- loop tasks !-->
      <a href="#" class="text-body">  <!-- link to task !-->
    <p class="mb-1">{{ task.task_name }}</p>
     </a>  <!-- end link to task !-->
      {% endfor %} <!-- end loop tasks !-->
    <small>Donec id elit non mi porta.</small>
  </div>
    {% endfor %} <!-- end loop lists !-->
 {% else %} <!-- lists is empty !-->
    <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">no lists</h5>
    </div>
    </div>
{% endif %}<!-- end of test if lists is not empty !-->
</div>
{% else %}<!-- user is not auth !-->
<div class="container center">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">Login</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts:signup' %}">Signup</a></li>
{% endif %}<!-- end of test if user is auth !-->
    </ol>
</div>

{% endblock content %}