{% extends 'doit/base.html' %}
{% load doit_tags %}
{% load humanize %}

{% block content %}

{% if user.is_authenticated %}<!-- test if user is auth !-->
<!-- links to new list/task !-->
<div class="container center">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'doit:newlist' %}">New List</a></li>  <!-- link to new list !-->
        <li class="breadcrumb-item active"><a href="#">New Task</a></li>  <!-- link to new task !-->
    </ol>
</div>

<!-- display lists/tasks !-->
<div class="container">
{% if lists %} <!-- test if lists is not empty !-->
    {% for list in lists %} <!-- loop lists !-->
  <div class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ list }}</h5>
      <small>{{ list.pub_date|naturaltime }}</small>
    </div>

      {% for task in list.to_list.all %} <!-- loop tasks !-->
      <small>{{ task.pub_date|naturaltime }}</small>
      <a href="#" class="text-body">  <!-- link to task !-->
      {% text_truncator task.task_name 30 as task_truncated %}
      <p class="mb-2 text-break">{{ task_truncated }}</p>
     </a>  <!-- end link to task !-->
      {% endfor %} <!-- end loop tasks !-->
    <small>Donec id elit non mi porta.</small>

  </div>
    {% endfor %} <!-- end loop lists !-->
 {% else %} <!-- lists is empty !-->
    <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">no lists</h5>
    </div>
    </div>
{% endif %}<!-- end of test if lists is not empty !-->
</div>
{% else %}<!-- user is not auth !-->
<div class="container center">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">Login</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts:signup' %}">Signup</a></li>
{% endif %}<!-- end of test if user is auth !-->
    </ol>
</div>

{% endblock content %}