{% extends 'doit/base.html' %}
{% load doit_tags %}
{% load humanize %}

{% block content %}

<div class="container">
    <div class="row text-black">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
            <div class="px-2">
                <form method="post" novalidate class="justify-content-center">
                    {% csrf_token %}
                    {% include 'doit/includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                    <button type="submit" name="delete" value="true" class="btn btn-primary btn-lg">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}